* {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
}

.dark-mode {
    background-color: var(--dark-blue) !important;
    color: hsl(0, 0%, 98%) !important;
}

.dark-mode p {
    color: rgb(162, 162, 162) !important;
}

.dark-mode b {
    color: rgba(201, 201, 201, 0.94) !important;
}

.very-dark-mode {
    background-color: var(--very-dark-blue);
}

.very-dark-mode p {
    color: white;
}